.add-event-container {
  width: 100%;
  height: 16.3rem;
  margin-top: 1.9rem;
  background: #D8D8D8;
  mix-blend-mode: normal;
  box-shadow: .7rem .7rem 1.4rem rgba(0, 0, 0, 0.08), -.7rem -.7rem 1.4rem rgba(255, 255, 255, 0.30);
  border-radius: 1.3rem;
  display: flex;
}

form {
  display: flex;
  justify-content: center;
}

input::placeholder {
  color: rgba(0, 0, 0, 0.21);
  font-weight: 700;
}

.input-cal-wrapper {
  width: 48.4rem;
  height: 100%;
}

.input-event-name {
  margin: 0 auto;
  width: 37rem;
  background: #D8D8D8;
  box-shadow: inset -.2rem -.2rem .4rem rgba(255, 255, 255, 0.32), inset .2rem .2rem .4rem rgba(0, 0, 0, 0.14);
  border-radius: 1rem;
  border: none;
}

.input-event-name {
  display: block;
  height: 3.3rem;
  margin-top: 2rem;

  font-family: Manrope;
  font-size: 1.6rem;
  color: rgba(36, 36, 36, 0.75);
  letter-spacing: 0.12em;
  text-align: center;
}

.input-event-name:focus {
  outline-width: 0;
}

.button-wrapper {
  width: 16.6rem;
  height: 100%;
  display: flex;
  align-items: center;
}

.btn-submit {
  width: 11rem;
  height: 11rem;
  border-radius: 50%;
  background: #3ad144;
  color: rgba(255, 255, 255, 0.87);
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 0.16em;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: .3rem .3rem 1rem rgba(0, 0, 0, 0.35);
  user-select: none;
}

.btn-submit:hover {
  cursor: pointer;
}

.btn-submit:active {
  box-shadow: .1rem .1rem 1rem rgba(0, 0, 0, 0.35);
}

.btn-submit:focus {
  user-select: none;
}

.btn-submit[disabled],
.btn-submit[disabled]:hover,
.btn-submit[disabled]:active {
  background: #EF7F7F;
  cursor: default;
  box-shadow: .3rem .3rem 1rem rgba(0, 0, 0, 0.35);
}

@media screen and (max-width: 900px) {
  .input-cal-wrapper {
    width: 44.2rem;
    height: 100%;
  }

  .input-event-name {
    font-size: 1.4rem;
  }

  .btn-submit {
    width: 7.5rem;
    height: 7.5rem;
    font-size: 1.6rem;
  }

  .button-wrapper {
    width: 7.5rem;
  }
}

@media screen and (max-width: 670px) {
  .add-event-container {
    height: fit-content;
  }

  form {
    display: inline-block;
    width: 100%;
    padding: 0 3rem;
  }

  .input-cal-wrapper {
    width: 100%;
    height: fit-content;
  }

  .input-event-name {
    width: 100%;
  }

  .button-wrapper {
    width: 100%;
    height: 4.5rem;
    padding: 1rem 0;
    margin-bottom: 0.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .btn-submit {
    width: 7.5rem;
    height: 2.5rem;
    font-size: 1.2rem;
    border-radius: 1.3rem;
  }
}

@media screen and (max-width: 500px) {
  .input-event-name {
    font-size: 1.2rem;
    margin-top: 1.5rem;
  }
}