
.timer-container {
  position: relative;
  margin: 0 auto;
  width: 62%;
  height: 7.3rem;
  display: grid;
  grid-template-columns: 7fr 1fr 7fr 1fr 7fr 1fr 7fr;
  color: rgba(0, 0, 0, 0.5);
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
}

.digits {
  font-size: 4.6rem;
}

.digit-separator {
  font-size: 4.6rem;
}

.digit-descriptors {
  font-size: 0.9rem;
}

@media screen and (max-width: 500px) {
  .timer-container {
    width: 80%;
    height: fit-content;
  }

  .cell, .digit-separator {
    font-weight: 500;
  }

  .digits, .digit-separator {
    font-size: 3.4rem;
  }
}