.countdown-container {
  width: 100%;
  margin-top: 9.5rem;
}

.countdown {
  width: 100%;
  height: 13.8rem;
  background: #D8D8D8;
  mix-blend-mode: normal;
  box-shadow: 5px 5px 24px rgba(0, 0, 0, 0.17), -8px -8px 20px rgba(255, 255, 255, 0.51);
  border-radius: 13px;
  display: flex;
}

.countdown:not(:last-child) {
  margin-bottom: 3.6rem;
}